///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
//$global-transition: all 300ms ease-in-out !default;
$inuit-static-images: false;
$inuit-global-font-size: 16px;


// Color
$primary-color: #564ec1;
$info-color: #04cad0;
$warn-color: #ffc107;
$danger-color: #dc3545;
$success-color: #198754;
$dark-color: #212529;
$light-color: #f8f9fa;

$text-color: #2e2e33;
$input-disable: #f4f3f9;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$hover-color: #0001;
$placeholder-color: #92969a;
$border-color: #e5e5e5;
$filled-color: #f8f8f8;
$link-color: #006bff;

$active-color: #21c44c;
$inactive-color: #f5334f;


// Fonts
$montserrat: 'Montserrat';


// Spacing
$footer-height: 4em;
$header-height: 4.62em;
$side-width: 130px;
$card-body-py: 1.25em;
$card-body-px: 1.56em;

// Z-index
$loader-z-index: 4;
$header-z-index: $loader-z-index + 1;
$sidebar-z-index: $header-z-index + 1;
