.o-wrapper {
}

.o-wrapper__side {
}

.o-wrapper__center {
  position: relative;
  min-height: calc(100vh - $header-height);

  @include mq(lg) {
    margin-left: $side-width;
  }
}

.o-wrapper__main {
  padding-bottom: $footer-height; /* Footer height */
}
