.c-header {
  background-color: $primary-color;
  color: #fff;
}

.c-header__upper {
  @include flex-between;
  padding: 0 0.7em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  position: fixed;
  z-index: 1;
  height: $header-height;
  background: #564ec1;
  top: 0;
  left: 0;
  width: 100%;

  @include mq(lg) {
    width: calc(100% - 130px);
    margin-left: 130px;
    padding: 0 1.87em;
    justify-content: flex-end;
  }
}

.c-header__menu {
  background: none;
  border: none;

  @include mq(lg) {
    display: none;
  }
}

.c-header__lower {
  padding: 2.18em 0.7em 5em;
  margin-top: $header-height;
  @include flex-between;

  @include mq(lg) {
    padding-left: 1.87em;
    padding-right: 1.87em;
  }
}

.c-header__title {
  @include font-size(20px);
  font-weight: normal;
  margin: 0;

  @include mq(lg) {
    @include font-size(24px);
  }
}
