.c-sidenav {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 11;

  position: fixed;
  left: -100%;
  top: 0;
  transition: 0.4s;

  &.is-open {
    right: unset;
    left: 0;
    transition: 0.4s;
    @include background-shadow;
  }

  @include mq(lg) {
    left: 0;
    top: 0;
    width: $side-width;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  }

  .c-dropdown__menu {
    max-height: 0;
    transition: 0.3s;
    position: static;
    border-radius: 0;

    @include mq(lg) {
      border-radius: 5px;
      position: absolute;
      max-height: unset;
    }
  }
}

.c-sidenav__list {
  width: 65%;
  height: 100%;
  background-color: #fff;

  @include mq(lg) {
    width: auto;
  }
}

.c-sidenav__header {
  @include flex-between;
  padding: 0 1em;

  @include mq(lg) {
    justify-content: center;
  }
}

.c-sidenav__search {
  width: 100%;
  display: block;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0 auto 1em;
  padding: 0.4em;

  @include mq(lg) {
    display: none;
  }
}

.c-sidenav__link {
  @include flex-start;
  position: relative;
  padding: 1em;
  gap: 0.43em;
  z-index: 1;
  border-top: 1px solid #f0f1f4;
  color: $text-color;
  @include font-size(14px);
  transition: 0.2s;
  background-color: #fff;
  font-family: inherit;

  &.is-active,
  &.nuxt-link-exact-active,
  &:hover,
  &:focus {
    background-color: #eee;
  }

  @include mq(lg) {
    padding: 1.5em 0.4em;
    flex-direction: column;
  }
}

.c-sidenav__close {
  cursor: pointer;
  display: flex;
  @include font-size(20px);

  @include mq(lg) {
    display: none;
  }
}
