.c-sidenav {
  width: 65%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  z-index: 1;

  position: fixed;
  left: -100%;
  transition: 0.4s;

  &.is-open {
    right: unset;
    left: 0;
    transition: 0.4s;
    box-shadow: 0 0 0 60em #0005;
  }

  @include mq(lg) {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important; //to overcome is-open
    width: 130px;
    left: 0;
  }
}

.c-sidenav__header {
  @include flex-between;
  padding: 0 1em;

  @include mq(lg) {
    justify-content: center;
  }
}

.c-sidenav__search {
  width: 90%;
  display: block;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0 auto 1em;
  padding: 0.4em;

  @include mq(lg) {
    display: none;
  }
}

.c-sidenav__link {
  @include flex-start;
  padding: 1em;
  gap: 0.43em;
  border-top: 1px solid #f0f1f4;
  color: $text-color;
  @include font-size(14px);
  transition: 0.2s;
  position: relative;
  z-index: 1;

  &:hover {
    transition: 0.2s;
    background-color: #0001;
  }

  @include mq(lg) {
    padding: 1.5em 0.4em;
    flex-direction: column;
  }
}

.c-sidenav__close {
  cursor: pointer;
  display: flex;
  @include font-size(20px);

  @include mq(lg) {
    display: none;
  }
}
