@use "sass:math";

$global-font-size: 16px;
$global-line-height: 24px;

// FLEX
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-inline-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// UTILITY
@mixin box-shadow($inset: '') {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1) #{$inset};
}
@mixin background-shadow {
  background-color: rgba(0, 0, 0, 0.5);
}
@mixin border($prop: "") {
  @if $prop == "" {
    border: 1px solid #e5e5e5;
  } @else {
    border#{-$prop}: 1px solid #e5e5e5;
  }
}

// INPUT
@mixin input {
  width: 100%;
  height: 40px;
  padding: 0.5em 1em;
  @include input-border;
  @include font-size(14px);
  color: $text-color;
  @include input-transition;
}
@mixin input-focus {
  color: #212529;
  background-color: #fff;
  border-color: $primary-color;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(86 78 193 / 25%);
}
@mixin input-focus--invalid {
  border-color: $danger-color;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
@mixin input-invalid {
  border-color: $danger-color;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  padding-right: 2.14em;
}
@mixin input-border {
  border-radius: 3px;
  border: solid 1px #e1e0ea;
}
@mixin input-transition {
  transition: $input-transition;
}
@mixin input-search-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAABWUlEQVQokZXRu0oDURAG4H/O5oJdBAMWFiLmCSxFfAsrLcwmWWJWEkHQTjsjCDEbcvaGsYhV3sAHsBO0Fq2NoCJsECS6Y+NK4u6K/uWc+WYGDhARwzDSUsrJqLfR0BiSzjKAPBMGAAZgzhKLZ8FvB7quP8XilnTXQf5MSqCuadowqDdMc1bxlcOPBNe2NO0+tL5pWTlD2o24845se8owndOfdQEA5FPRT4p6HN7WtEcw7pqWlQthEGVqxeJDHAYAZr4Ai4Uw/mME81i/+Br70m63p3+DRLRIPl2GsMKK8y6Su3HQMDpZAs3reukmhCuVwi2Yr1qmu2fbdnK0oSE7c0gMzxm4Dl0ztkG6SwSoDLwysSeYMwzqg7gPpmMCqZsbxbNIHGS/10tNeF56R1W9oNaS7iqDT0YHROK4NE1nhRhdJhSq5VL3X19VLZd6IOThY42Z/7X4OwH8BN18hSADYYGuAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 97% center;
}

// FONT
@mixin font-size($font-size, $line-height: auto, $important: false) {
  @if (type-of($font-size) == number) {
    @if (unit($font-size) != "px") {
      @error "`#{$font-size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$font-size}` needs to be a number.";
  }

  @if ($important == true) {
    $important: !important;
  } @else if ($important == false) {
    $important: null;
  } @else {
    @error "`#{$important}` needs to be `true` or `false`.";
  }

  // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $important;
  font-size: math.div($font-size, $global-font-size) * 1rem $important;

  @if ($line-height == "auto") {
    line-height: ceil(math.div($font-size, $global-line-height)) *
      math.div($global-line-height, $font-size)
      $important;
  } @else {
    @if (
      type-of($line-height) ==
        number or
        $line-height ==
        "inherit" or
        $line-height ==
        "normal"
    ) {
      line-height: $line-height $important;
    } @else if ($line-height != "none" and $line-height != false) {
      @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`.";
    }
  }
}
