.o-page--login {
  height: 100vh;
  @include flex-center;
  background-color: #f9f7fd;
}

.c-login {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 1.87em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.c-login__title {
  @include font-size(24px);
  text-align: center;
  margin-bottom: 1.25em;
}

.c-login__form-control {
}

.c-login__input {
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  transition: 0.2s;
  background-color: #f7f6f9;
  border-radius: 3px;

  &:focus-within {
    border-color: $primary-color;
    box-shadow: 0 0 0 0.25rem rgb(86 78 193 / 25%);
  }

  input {
    flex: 1;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      box-shadow: 0 0 0 50px #f7f6f9 inset; /*your box-shadow*/
      -webkit-text-fill-color: #333;
    }
  }
}

.c-login__input-icon {
  @include flex-inline-center;
  height: 45px;
  width: 45px;
  background-color: #f7f6f9;
  border-radius: 3px 0 0 3px;
}

.c-login__forget {
  display: block;
  margin: 12px 0 30px;
  text-align: right;
  color: $primary-color;
  @include font-size(14px);
  text-transform: capitalize;
}

.c-login__method {
  @include flex-start;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  text-align: left;
  @include font-size(14px);

  &:last-child {
    margin-bottom: 0;
  }
}

.c-icon {
  $spacing: 0.5em;
  @include flex-center;
  height: 100%;
  padding: 0 $spacing;
  margin-right: $spacing;
  @include font-size(18px);
  border-right: 1px solid #e5e5e5;

  &__google {
    color: #f34a38;
  }
  &__facebook {
    color: #3b5998;
  }

  svg {
    width: 18px !important;
  }
}
