.o-page--login {
  height: 100vh;
  @include flex-center;
  background-color: #f9f7fd;
}

.c-login {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 1.87em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.c-login__title {
  @include font-size(24px);
  text-align: center;
  margin-bottom: 1.25em;
}

.c-login__method {
  @include flex-start;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  text-align: left;
  @include font-size(14px);

  &:last-child {
    margin-bottom: 0;
  }
}

.c-icon {
  $spacing: 0.5em;
  @include flex-center;
  height: 100%;
  padding: 0 $spacing;
  margin-right: $spacing;
  @include font-size(18px);
  border-right: 1px solid #e5e5e5;

  &__google {
    color: #f34a38;
    width: 18px !important;
  }
  &__facebook {
    color: #3b5998;
    width: 18px !important;
  }
}
