$alert-primary-color: #fff;
$alert-primary-bg: #968eff;

$alert-secondary-color: #41464b;
$alert-secondary-bg: #e2e3e5;

$alert-success-color: #0f5132;
$alert-success-bg: #d1e7dd;

$alert-danger-color: #842029;
$alert-danger-bg: #f8d7da;

$alert-warning-color: #664d03;
$alert-warning-bg: #fff3cd;

$alert-info-color: #055160;
$alert-info-bg: #cff4fc;

$alert-light-color: #636464;
$alert-light-bg: #fefefe;

$alert-dark-color: #141619;
$alert-dark-bg: #d3d3d4;

.c-alert {
  @include flex-between;
  gap: .5em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
  @include box-shadow;
  @include font-size(14px);

  @include mq(lg) {
    @include font-size(16px);
  }
}

.c-alert--primary {
  color: $alert-primary-color;
  background-color: $alert-primary-bg;
}

.c-alert--secondary {
  color: $alert-secondary-color;
  background-color: $alert-secondary-bg;
}

.c-alert--success {
  color: $alert-success-color;
  background-color: $alert-success-bg;
}

.c-alert--danger {
  color: $alert-danger-color;
  background-color: $alert-danger-bg;
}

.c-alert--warning {
  color: $alert-warning-color;
  background-color: $alert-warning-bg;
}

.c-alert--info {
  color: $alert-info-color;
  background-color: $alert-info-bg;
}

.c-alert--light {
  color: $alert-light-color;
  background-color: $alert-light-bg;
}

.c-alert--dark {
  color: $alert-dark-color;
  background-color: $alert-dark-bg;
}

.c-alert__close {
  width: 1em;
  height: 1em;
  border: 0;
  opacity: 0.5;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;

  &:hover {
    opacity: 1;
  }
}
