.c-badge {
  border-radius: 3px;
  background-color: $filled-color;
  margin-right: 5px;
  padding: 2px 5px;
}

.c-notification {
  position: relative;
  display: block;
  text-align: center;
}

.c-notification__badge {
  left: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
  @include flex-inline-center;

  border-radius: 5px 5px 5px 0;
  text-align: center;
  color: #fff;
  background-color: $danger-color;
  font-weight: 500;
  @include font-size(11px);
}

.c-badge {
  border-radius: 3px;
  padding: 0 5px;
  background-color: #e2e3e5;

  &--hover {
    &:hover {
      cursor: pointer;
    }
  }

  &--danger {
    background-color: $danger-color;
    color: #fff;
  }

  &--info {
    background-color: $info-color;
    color: #fff;
  }

  &--primary {
    background-color: $primary-color;
    color: #fff;
  }

  &--warn {
    background-color: $warn-color;
    color: #000;
  }

  &--success {
    background-color: $success-color;
    color: #fff;
  }

  &--dark {
    background-color: $dark-color;
    color: #fff;
  }
}
