.c-breadcrumb {
  @include flex-center;
  @include font-size(12px);
}

.c-breadcrumb__item {
  opacity: 0.7;
  display: flex;

  &:hover,
  &:last-child {
    opacity: 1;
  }
}

.c-breadcrumb__div {
    margin: 0 0.2em;
}
