$btn-bg: rgb(146 150 154 / 10%);

.c-btn {
  min-width: 9em;
  height: 40px;
  border: 0;
  border-radius: 5px;
  @include font-size(14px);
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: $btn-bg;
  outline: 1px solid $btn-bg;
  transition: 0.2s;

  &:hover {
    background-color: darken($btn-bg, 20%);
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &--primary {
    background-color: $primary-color;
    color: #fff;
    outline-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

  &--info {
    background-color: $info-color;
    color: #fff;
    outline-color: $info-color;

    &:hover {
      background-color: darken($info-color, 15%);
    }
  }

  &--outline {
    background-color: #fff;
    color: $primary-color;
    outline-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--small {
    height: 30px;
    min-width: 5em;
  }
}
