$btn-bg: #f4f4f5;

@mixin hover-color($color, $value: 10%, $action: darken) {
  &:hover {
    @if ($action == darken) {
      background-color: darken($color, $value);
    } @else {
      background-color: lighten($color, $value);
    }
  }
}

@mixin color-modifier($bg, $color) {
  background-color: $bg;
  color: $color;
  border-color: $bg;
  @include hover-color($bg);
}

.c-btn {
  position: relative; //to fix
  vertical-align: middle; //loader state
  @include flex-inline-center;
  gap: 0.1em;
  min-width: 9em;
  height: 40px;
  border-radius: 3px;
  font-family: inherit;
  @include font-size(14px);
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 1px 6px;

  text-align: center;
  color: $text-color;
  background-color: $btn-bg;
  border: 1px solid $btn-bg;
  transition: 0.2s;
  @include hover-color($btn-bg);

  &.is-disabled,
  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &--primary {
    @include color-modifier($primary-color, #fff);
  }

  &--info {
    @include color-modifier($info-color, #fff);
  }

  &--danger {
    @include color-modifier($danger-color, #fff);
  }

  &--success {
    @include color-modifier($success-color, #fff);
  }

  &--warn {
    @include color-modifier($warn-color, #fff);
  }

  &--dark {
    background-color: $dark-color;
    color: #fff;
    border-color: $dark-color;
    @include hover-color($dark-color, 10%, lighten);
  }

  &--outline {
    background-color: #fff;
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--small {
    height: 30px;
    min-width: 5em;
  }
}
