.c-card {
  @include box-shadow;
  background-color: #fff;
  border-radius: 5px;
  margin: -3.93em 0.7em 5em;

  @include mq(lg) {
    margin-left: 1.87em;
    margin-right: 1.87em;
  }
}

.c-card__header {
  @include flex-between;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.8em .7em;
  @include border(bottom);

  @include mq(lg) {
    padding-left: 1.56em;
    padding-right: 1.56em;
  }
}

.c-card__title {
  @include flex-start;
  @include font-size(16px);
  font-weight: 600;
  color: $text-color;
  margin: 0;
  white-space: nowrap;
}

.c-card__toolbar {
  @include flex-end;
  flex: 1;
  gap: .5em;
  // margin-top: 0.5em;

  @include mq(lg) {
    margin-top: 0;
  }
}

.c-card__body {
  padding: 1.25em 1.56em;
}

.c-card--fluid {
  .c-card__body {
    padding: 0;
  }
}