.c-card {
  @include box-shadow;
  background-color: #fff;
  border-radius: 5px;
  margin: -3.93em 0.7em 5em;

  @include mq(lg) {
    margin-left: 1.87em;
    margin-right: 1.87em;
  }
}

.c-card__header {
  padding: 0.97em .7em;
  border-bottom: 1px solid #e5e5e5;

  @include mq(lg) {
    padding-left: 1.56em;
    padding-right: 1.56em;
  }
}

.c-card__title {
  @include font-size(16px);
  font-weight: 600;
  color: $text-color;
  margin: 0;
}

.c-card__body {
  padding: 1.25em 1.56em;
}

.c-card--fluid {
  .c-card__body {
    padding: 0;
  }
}