.c-datatable {
  margin: -1.25em -1.56em; //based on card body padding
}

.c-datatable__header {
  padding: 1em 1.5em;
  @include flex-between;
  // flex-wrap: wrap;
  gap: 0.5em;
}

.c-datatable__title {
  font-weight: 600;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-datatable__body {
  overflow-x: auto;
}

.c-datatable__footer {
  padding: 1em;
}
