$dropdow-radius: 5px;
$arrow-y-pos: 20px;

.c-dropdown {
  position: relative;

  &.is-open {
    @include flex-column;
  }
}

.c-dropdown__btn {
  width: 100%;
  height: 100%;
  border: 0;

  font-weight: inherit;
  text-transform: inherit;
  text-align: inherit;
}

.c-dropdown__menu {
  position: absolute;
  min-width: 10em;
  top: calc(100% + 0.25rem);

  border-radius: $dropdow-radius;
  @include box-shadow;

  @include font-size(14px);

  //----Positioning----
  //right
  &.c-dropdown__menu--right {
    // left: calc(100% + 15px);
    // top: 0;

    @include mq(lg) {
      &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: $arrow-y-pos;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid $light-color;
        border-bottom: 10px solid transparent;
      }

      &.is-bottom::before {
        top: unset;
        bottom: $arrow-y-pos;
      }
    }
  }

  //bottom left
  &.c-dropdown__menu--bl {
    right: 0;
  }

  //bottom double left
  &.c-dropdown__menu--bll {
    right: calc(100% + 0.25rem);
  }

  //bottom right
  &.c-dropdown__menu--br {
    left: 0;
  }

  //bottom
  &.c-dropdown__menu--bottom {
    left: 0;
    right: 0;
  }
}

.c-dropdown__header {
  padding: 0.5em 1em;
  font-size: 12px;
}

.c-dropdown__item {
  padding: 0.5em 1em;
  display: block;

  &.nuxt-link-exact-active,
  &:hover {
    background-color: #eee;
  }

  &:first-child {
    border-top-left-radius: $dropdow-radius;
    border-top-right-radius: $dropdow-radius;
  }
  &:last-child {
    border-bottom-left-radius: $dropdow-radius;
    border-bottom-right-radius: $dropdow-radius;
  }
}

.c-dropdown__divider {
  border-bottom: 1px solid #fff9;
}

/*
   * The following styles are auto-applied to elements with
   * transition="c-dropdown__menu" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the c-dropdown__menu transition by editing
   * these styles.
   */

.c-dropdown__menu-enter-active,
.c-dropdown__menu-leave-active {
  transition: opacity 0.2s;
}

.c-dropdown__menu-enter,
.c-dropdown__menu-leave-active {
  opacity: 0;
}
