.c-filter {
  position: relative;

  &.is-open {
    display: flex;
    flex-direction: column;
  }
}

.c-filter__btn {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;

  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  text-transform: inherit;
  font-size: inherit;
  text-align: inherit;
}

.c-filter__menu {
  position: fixed;
  padding: 12px;
  text-align: initial;

  background-color: #fff;
  font-weight: 400;
  @include font-size(13px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  width: 320px;
  transform: translateY(3px);

  border-radius: 5px;
  border: solid 1px #e1e0ea;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.c-filter__container {
  @include flex-column;
  justify-content: center;
  gap: 10px;
}

.c-filter__item {
  color: $placeholder-color;
}

.c-filter__control {
  color: $link-color;
  font-weight: 400;
  transition: 0.2s;

  &:hover {
    color: $primary-color;
  }
}

//transition
.c-filter__menu-enter-active,
.c-filter__menu-leave-active {
  transition: opacity 0.2s;
}

.c-filter__menu-enter,
.c-filter__menu-leave-active {
  opacity: 0;
}
