.c-form__title {
  font-size: 14px;
  color: $primary-color;
  font-weight: 600;
}

.c-form__control {
  margin-bottom: 1em;
}

.c-form__label {
  @include font-size(14px);
  font-weight: 500;
  color: $text-color;
  margin-bottom: 0.5em;
  display: block;
}

.c-form__input {
  @include input;

  &.is-invalid {
    @include input-invalid;

    &:focus {
      @include input-focus--invalid;
    }
  }

  &:disabled {
    background-color: $input-disable;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    @include input-focus;
  }
}

.c-form__input--area {
  resize: none;
  height: auto;
}

.c-form__error {
  color: $danger-color;
  @include font-size(14px);
  margin: 0.2em 0 1em;
  display: block;
}
