.c-form {
  @include font-size(14px);
}

.c-form__title {
  font-size: 14px;
  color: $primary-color;
  font-weight: 600;
  margin: 0 0 1.5em;
}

.c-form__control {
  @include flex-column;
  margin-bottom: 1em;
  gap: 0.5em;

  &--inline {
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 1.5em;
  }
}

.c-form__label {
  font-weight: 500;
  color: $text-color;
  margin: 0;
  display: block;
}

.c-form__input {
  @include input;

  &.is-invalid {
    @include input-invalid;

    &:focus {
      @include input-focus--invalid;
    }
  }

  &:disabled {
    background-color: $input-disable;
    // for safari
    opacity: 1;
    -webkit-text-fill-color: $text-color;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    @include input-focus;
  }
}

.c-form__input--area {
  resize: none;
  height: auto;
}

.c-form__error {
  color: $danger-color;
  @include font-size(14px);
  margin: 0.2em 0 1em;
  display: block;
}

.c-form__divider {
  border-top: 1px solid #e1e0ea;
  display: block;
  margin: 1em 0;
}

.c-form__visiblity {
  @include input-border;
  border-radius: 0 3px 3px 0;
  @include flex-inline-center;
  height: 40px;
  width: 40px;
  background: $filled-color;
  cursor: pointer;
  border-left: 0;
}

.c-form__password {
  border-radius: 3px 0 0 3px;
  z-index: 1;
}
