$border-radius: 3px;

.c-perpage {
  @include font-size(14px);
}

.c-perpage__input {
  appearance: none;
  width: 30px;
  height: 22px;
  text-align: center;
  border-radius: 3px;
  color: $placeholder-color;
  @include font-size(13px, 1.15);
  border: solid 1px #e5e5e5;
  @include input-transition;

  &:focus {
    @include input-focus;
  }
}

.c-pagination {
  @include flex-center;
  gap: 0.5em;
}

.c-pagination__arrow {
  height: 2em;
  width: 2em;
  @include flex-center;

  border-radius: $border-radius;
  color: $placeholder-color;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #efefef;
  }

  &.is-disabled {
    cursor: auto;
    user-select: none;
    background-color: transparent !important;
  }
}

.c-pagination__item {
  min-height: 2em;
  min-width: 2em;
  @include flex-center;
  @include font-size(14px);
  cursor: pointer;
  border-radius: $border-radius;
  border: none;
  transition: background-color 0.2s;
  background-color: transparent;

  &:hover {
    background-color: #efefef;
  }

  &.is-active {
    background-color: $primary-color;
    color: #fff;
  }
}
