$height: 28px;

.c-search {
}

.c-search__input {
  height: $height;
  padding: 0 1em;
  @include input-border;
  @include font-size(13px);
  @include input-search-bg;
  @include input-transition;

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    @include input-focus;
  }

  @include mq(lg) {
    // width: 20em;
  }
}

.c-search__btn {
  height: $height;
  min-width: auto;
  padding: 0 1em;
  margin: 0;
  margin-left: 0.5em;
}
