.c-sort {
  @include flex-column-inline;
  vertical-align: middle;
  margin-left: auto;
}

.c-sort__item {
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;

  &.is-active,
  &:hover {
    background-color: #0009;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
    color: #f2f2f2;
  }
}
