.vue-tags-input.vue-tags-input {
  max-width: 100% !important;

  .ti-input {
    @include input-border;
    transition: $input-transition;
  }

  &.ti-focus {
    .ti-input {
      @include input-focus;
    }

    &.is-invalid .ti-input {
      @include input-focus--invalid;
    }
  }

  &.is-invalid .ti-input {
    @include input-invalid;
  }

  .ti-tag {
    background-color: $primary-color;
    border-radius: 3px;
  }

  ul {
    margin: 2px !important;
  }
}
