//Background Color
.u-bg-danger {
  background-color: $danger-color !important;
  color: #fff !important;
}
.u-bg-dark {
  background-color: $dark-color !important;
  color: #fff !important;
}
.u-bg-success {
  background-color: $success-color !important;
  color: #fff !important;
}
.u-bg-info {
  background-color: $info-color !important;
  color: #fff;
}
.u-bg-primary {
  background-color: $primary-color !important;
  color: #fff !important;
}
.u-bg-warn {
  background-color: $warn-color !important;
  color: $text-color;
}
.u-bg-light {
  background-color: $light-color !important;
  color: $text-color;
}

// Text Color
.u-text-secondary {
  color: $placeholder-color;
}
.u-text-link {
  color: $link-color;
}
.u-text-info {
  color: $info-color;
}
