//Background Color
.u-bg-danger {
  background-color: $danger-color;
  color: #fff;
}

.u-bg-dark {
  background-color: #444;
  color: #fff;
}

// Text Color

.u-text-secondary {
  color: $placeholder-color;
}

.u-text-link {
  color: #006bff;
}

.u-text-info {
  color: $info-color;
}
